In [1]:
from io import BytesIO
import matplotlib.pyplot as plt
import base64
import numpy
import pandas as pd

In [2]:
csv_path = 'weathers/data/austin_weather.csv'

In [3]:
df = pd.read_csv(csv_path, usecols=['Date', 'TempHighF','TempAvgF', 'TempLowF'])

df['Date'] = pd.to_datetime(df['Date'])
df_avg = df.groupby(df['Date'].dt.strftime('%Y-%m')).mean()
df

# plt.clf()

# plt.plot(df_avg['Date'], df_avg['TempHighF'], label='High Temp')
# plt.plot(df_avg['Date'], df_avg['TempAvgF'], label='Avg Temp')
# plt.plot(df_avg['Date'], df_avg['TempLowF'], label='Low Temp')

# plt.show()

           Date  TempHighF  TempAvgF  TempLowF
0    2013-12-21         74        60        45
1    2013-12-22         56        48        39
2    2013-12-23         58        45        32
3    2013-12-24         61        46        31
4    2013-12-25         58        50        41
...         ...        ...       ...       ...
1314 2017-07-27        103        89        75
1315 2017-07-28        105        91        76
1316 2017-07-29        107        92        77
1317 2017-07-30        106        93        79
1318 2017-07-31         99        88        77

[1319 rows x 4 columns]